header{
  background: #ebebeb;
  position: relative;
}
header img{
  width: 100%;
}
.contain{
  background: #ebebeb;
}
.contain img{
  margin:0 auto;
  width: 100%;
  display: inline-block;
}
footer{
  background: #ebebeb;
  height:10%;
  width: 100%;
}
